# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"
NODE_ENV=development
SKIP_ENV_VALIDATION=false

# db connection. Using postgres

# be sure to create a separate schema and grant all privileges to user to that schema.
# also set the search_path to that schema, so that this user does not have access to other schemas.
POSTGRES_CONNECTION=://user:password@0.0.0.0:5432/db
MIGRATIONS_FOLDER=drizzle